@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;




:root {
  --background: #ffffff;
  --foreground: #171717;

  --primary-light: #7c3aed;
  --primary: #5b21b6;
  --primary-dark: #3c096c;

  --secondary: #ec4899;

  --neutral-light: #f3f4f6;
  --neutral: #9ca3af;
  --neutral-dark: #4b5563;

  --accent: #fbbf24;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;

    --primary-light: #7c3aed;
    --primary: #5b21b6;
    --primary-dark: #3c096c;

    --secondary: #ec4899;

    --neutral-light: #f3f4f6;
    --neutral: #EDE8D0;
    --neutral-dark: #4b5563;

    --accent: #fbbf24;
  }
}

.bg-gradient {
  background: 
    radial-gradient(
      circle at 50% 10%, 
      #f3ae35aa 5%, 
      transparent 40%
    ),radial-gradient(
      circle at 70% 70%, 
      #f3ae35aa 1%, 
      transparent 40%
    ),radial-gradient(
      circle at 30% 50%, 
      #f30082aa 10%, 
      transparent 60%
    ),
    radial-gradient(
      circle at 20% 20%, 
      #f34900aa 25%, 
      transparent 50%
    ),
    radial-gradient(
      circle at 80% 20%, 
      #f52891aa 25%, 
      transparent 50%
    ),
    radial-gradient(
      circle at 80% 80%, 
      #f34900aa 25%, 
      transparent 50%
    ),
    radial-gradient(
      circle at 50% 50%, 
      #f3386aaa 25%, 
      transparent 50%
    ),
    radial-gradient(
      circle at 20% 50%, 
      #f34900aa 25%, 
      transparent 50%
    ),
    radial-gradient(
      circle at 20% 90%, 
      #f30082aa 25%, 
      transparent 50%
    ),
    ;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh; 
  
}


.bg-gradient-light {
  background: 
    radial-gradient(
      circle at 50% 10%, 
      rgba(243, 174, 53, 0.33) 5%, 
      transparent 40%
    ),radial-gradient(
      circle at 70% 70%, 
      rgba(243, 174, 53, 0.33) 1%, 
      transparent 40%
    ),radial-gradient(
      circle at 30% 50%, 
      rgba(243, 0, 130, 0.2) 10%, 
      transparent 60%
    ),
    radial-gradient(
      circle at 20% 20%, 
      rgba(243, 73, 0, 0.2) 25%, 
      transparent 50%
    ),
    radial-gradient(
      circle at 80% 20%, 
      rgba(245, 40, 145, 0.2) 25%, 
      transparent 50%
    ),
    radial-gradient(
      circle at 80% 80%, 
      rgba(243, 73, 0, 0.2) 25%, 
      transparent 50%
    ),
    radial-gradient(
      circle at 50% 50%, 
      rgba(243, 56, 106, 0.2) 25%, 
      transparent 50%
    ),
    radial-gradient(
      circle at 20% 50%, 
      rgba(243, 73, 0, 0.2) 25%, 
      transparent 50%
    ),
    radial-gradient(
      circle at 20% 90%, 
      rgba(243, 0, 130, 0.2) 25%, 
      transparent 50%
    ),
    radial-gradient(
      circle at 50% 50%, 
      rgba(255, 255, 255, 0.6) 100%, 
      transparent 100%
    ),
    ;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh; 
  
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

